<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <!-- 定义日志格式 -->
    <Appenders>
        <!-- 控制台输出 -->
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

    </Appenders>

    <!-- 日志器 -->
    <Loggers>
        <!-- 默认日志器 -->
        <Root level="info">
            <AppenderRef ref="ConsoleAppender"/>
        </Root>

    </Loggers>
</Configuration>
